<section id="app">
    <a href="#" class="btn btn-danger show-info"><span class="glyphicon glyphicon-cog"></span> Opções</a>
    <div class="box-info">
        <div class="row">
            
        </div>
    </div>
    <div id="map-container"></div>
</section>

<footer>
    <div class="container">
        <div class="logo">
            <h2>Transit POA</h2>
        </div>

        <p class="desc" id="app-desc">
            
        </p>

        <ul class="right">
            <li>
                <a id="mais-sobre" class="text-danger" href="#">
                    Sobre
                </a>
            </li>
        </ul>
    </div>
    <div class="shadow"></div>
</footer>