<form action="importer/import" method="POST">
	<input id="fileUrl" type="text" name="fileUrl[]">
	<input id="submit" type="submit" value="Enviar">
</form>
<p id="loader" style="display:none;">
	<img src="/images/loader.gif" alt="">
</p>
<p id="result"></p>